/* The following styles fix dark theme styling for floating-vue  */

.v-popper--theme-dropdown .v-popper__inner {
	box-shadow: none;
	border-radius: 3px;
}

.dark .v-popper--theme-dropdown .v-popper__inner {
	background-color: hsl(0, 0%, 8%);
	border-color: rgb(33, 33, 33);
}

.dark .v-popper--theme-dropdown .v-popper__arrow-inner {
	border-bottom-color: hsl(0,0%,8%);
}

.dark .v-popper--theme-dropdown .v-popper__arrow-outer {
	/* border-color: black; */
	border-color: rgb(33, 33, 33);
}

/* Improve vertical alignment of badges. Mostly noticeable with big titles.*/

.vp-doc h1 > .VPBadge {
	vertical-align: middle;
	margin-top: auto;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.025em;

}

/* Improve the page outline aside. "On this page" is redundant IMO. */

.VPDocAsideOutline .content {
	/* Because we can only hide, not remove (none) the title, it appears as an extended top boarder, just remove the border completely to fix that.  */
	border: none;
}

.outline-title {
	/* If we make it display:none then we break the active border indicator alignment. So just visually hide. */
	opacity: 0;
	margin-top: -1.6rem;
}

.VPContent h6 {
	opacity: 0.6;
	font-size: 0.6rem;
	text-transform: uppercase;
	font-weight: 900;	
}

.VPContent h6 a {
	opacity: 0.6;
	font-size: 0.6rem;
	text-transform: uppercase;
	font-weight: 900;	
}

.VPContent h6 a:hover {
	opacity: 1;
}

/* Improve Code Blocks */

:root {
	--vp-code-line-highlight-color: hsla(57.82, 100%, 63%, 0.37);
}

.dark {
	--vp-code-line-highlight-color: hsla(208.91, 100%, 84.25%, 0.05);
}

.twoslash-highlighted {
	--twoslash-highlighted-bg: hsla(58, 100%, 63%, 0.408);
	--twoslash-highlighted-border: hsla(0,0%,0%,0);
	padding: 1px 2px 3px 2px;
}

.dark .twoslash-highlighted {
	--twoslash-highlighted-bg: hsla(257, 85%, 51%, 0.38);
}


/* Site wide banner */

:root {
	--message-height: 15px;
	--vp-nav-height: calc(64px + var(--message-height));
}

.VPNavBar .title {
	padding-top: var(--message-height);
}
.VPNavBar.home .title {
	height: auto;
	padding-top: 20px;
}

.VPNavBar .content-body {
	flex-wrap: wrap;
}

.VPNavBarMenu {
	height: auto;
}

#graffle-warning-message {
	padding-left: 2rem;
	padding-top: 4px;
	text-wrap: auto;
	width: 100%;
	height: var(--message-height);
	font-size: 0.75rem;
	font-weight: bold;
	opacity: 0.75;
}

#graffle-warning-message a {
	text-decoration: underline;
}
